@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* +++++++++++++++++ 디폴트 +++++++++++++++++ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    position: relative;
    color: #000;
    box-sizing: border-box;
    outline: 0;
    line-height: 1;
    margin: 0;
    padding-bottom: 120px;
    -ms-overflow-style: none;
}

article, header, nav, section { display: block; }
h1 { font-family: inherit; color: inherit; margin: 0; font-size: 2em; align-content: center}
a { text-decoration: none; color: inherit; }
ul { padding: 0; margin: 0; list-style: none;}
.container { position: relative; margin: 0 auto; height: 100%; max-width: 900px; width: 100%; }
::-webkit-scrollbar { /*display: none;*/ }

/* +++++++++++++++++ 헤더 +++++++++++++++++ */
header {
    position: relative;
    height: 80px;
    top: 0;
    width: 100%;
    background: #ffffff;
    border-bottom: #d9d9d9 solid 1px;
}

/* 로고, 네비게이션 배치 */
header .warp {
    display: flex;
    align-items: center; /* 세로로 가운데 정렬 */
    justify-content: space-between; /* 로고와 네비가 양 끝으로 */
    height: 100%;
    width: 100%;
}

header .warp .logo a img {
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
}

header .warp .nav {
    align-items: center;
}

header .warp .nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

header .warp .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
}

header .warp .nav ul li:last-child { padding: 0; }
header .warp .nav ul li:hover { transition: all .2s; color: #F42A67; }


h2 {
    position: relative;
    font-size: 32px;
    text-align: center;
    margin: 80px 0 60px 0;
}

/* +++++++++++++++++ main page (list) +++++++++++++++++ */

.list_area ul {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;
    /*background-color: #f9f9f9;*/
}

.list_area ul li a {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    padding: 30px 20px;
    gap: 20px;
}
.list_area ul li a:hover { background-color: #f8f8f8; }



.list_area .post_title {
    position: relative;
    margin: 0;
    line-height: 1;
    font-size: 18px;
    width: 100%;
    font-weight: 700;
}
.list_area .post_no {
    /*width: 60px;*/
    font-size: 16px;
    color: #999999;
}
.list_area .post_date {
    /*width: 90px;*/
    font-size: 16px;
    color: #999999;

}

/* +++++++++++++++++ posting page +++++++++++++++++ */

.posting_area ul {
    height: 100%;
    position: relative;
    border-top: 2px solid #222222;
}

.posting_area ul li {
    display: flex;
}

.posting_area textarea {
    border: none;
    border-bottom: 1px solid #DCDCDC;
    resize: none;
    width: 100%;
    padding: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
    color: #222222;
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    appearance: none;
    font-family: "Pretendard", sans-serif;
}
.posting_area textarea.on {
    border-color: #191919;
}
.posting_area textarea::placeholder {
    color: #999999;
}
.posting_area textarea:focus {
    background: #f8f8f8;
    outline: none;
}

.posting_area #post_title {
    height: 80px;
}


.posting_area #post_description {
    height: 280px;
    border-bottom: 2px solid #222222;
}


.posting_area .btn_area {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posting_area .btn_area .btn_submit {
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    border: 2px solid #222;
    color: #222;
    height: 50px;
    padding: 0 60px;
    border-radius: 50px;
    cursor: pointer;
}

.posting_area .btn_area .btn_submit:hover {
    color: #F42A67;
    background-color: #fff;
    border: 2px solid #F42A67;
}


/* +++++++++++++++++ contents page +++++++++++++++++ */

.title {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 60px 0;
}

.title p {
    margin: 0;
    color: #888888;
}

.title h2 {
    font-size: 48px;
    margin: 20px 0;
}


.view_area .editor {
    padding: 40px 0;
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
}

.view_area .editor p {
    padding-top: 12px;
    line-height: 1.6;
    text-align: justify;
    font-size: 16px;
    color: #222222;
    font-weight: 400;
}

.view_area .btn_area {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view_area .btn_area .btn_submit {
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    border: 2px solid #222;
    color: #222;
    height: 50px;
    padding: 0 60px;
    border-radius: 50px;
    cursor: pointer;
}

.view_area .btn_area .btn_submit:hover {
    color: #F42A67;
    background-color: #fff;
    border: 2px solid #F42A67;
}

/* +++++++++++++++++ simple page +++++++++++++++++ */


.posting_area #post_text {
    height: 120px;
    border-bottom: 2px solid #222222;
}

.list_area .post_list {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    padding: 30px 20px;
    gap: 20px;
}

.list_area .post_list:hover { background-color: #f8f8f8; }
