@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* +++++++++++++++++ 디폴트 +++++++++++++++++ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; position: relative; color: #000; box-sizing: border-box; outline: 0; line-height: 1; margin: 0; padding-bottom: 120px; -ms-overflow-style: none; }
article, header, nav, section { display: block; }
a { text-decoration: none; color: inherit; }
ul { padding: 0; margin: 0; list-style: none;}
.container { margin: 0 auto; height: 100%; max-width: 900px; width: 100%; padding: 0 40px; }

/* +++++++++++++++++ 헤더 +++++++++++++++++ */
header {
    height: 80px;
    width: 100%;
    background: #ffffff;
    border-bottom: #d9d9d9 solid 1px;
}

header .warp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

header .warp .logo a img {
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
}

header .warp .nav {
    align-items: center;
}

header .warp .nav ul {
    display: flex;
    gap: 20px;
    /*padding: 0;*/
    /*margin: 0;*/
}

header .warp .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
}

header .warp .nav ul li:hover { transition: all .2s; color: #F42A67; }


h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 60px;
}


/* +++++++++++++++++ main page (list) +++++++++++++++++ */

.list_area {
    padding: 80px 0;
}

.list_area ul {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;
}

.list_area .post_list {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    padding: 30px 0;
    gap: 10px;
}
.list_area .post_title {
    line-height: 1.4;
    font-size: 18px;
    width: 40rem;
    font-weight: 700;
    word-break: break-word;
}
.list_area .post_no {
    width: 4rem;
    font-size: 16px;
    color: #999999;
    text-align: center;
}
.list_area .post_date {
    width: 6rem;
    font-size: 16px;
    color: #999999;
    text-align: center;
}



/* +++++++++++++++++ posting page +++++++++++++++++ */

.posting_area {
    background: #fafafa;
    padding: 80px 0;
}


.posting_area ul {
    height: 100%;
    position: relative;
    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;

}

.posting_area textarea {
    font-family: "Pretendard", sans-serif;
    height: 120px;
    width: 100%;
    padding: 1rem;
    line-height: 1.5;
    /*color: #222222;*/
    font-size: 16px;
    font-weight: 500;
    background: #fafafa;
    border: none;
    resize: none;
}
.posting_area textarea.on {
    border-color: #191919;
}
.posting_area textarea::placeholder {
    color: #999999;
}
.posting_area textarea:focus {
    background: #ffffff;
    outline: none;
}

.posting_area .btn_area {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posting_area .btn_area .btn_submit {
    font-size: 18px;
    font-weight: 600;
    background: #fafafa;
    border: 2px solid #222;
    color: #222;
    height: 50px;
    padding: 0 60px;
    border-radius: 50px;
    cursor: pointer;
}

.posting_area .btn_area .btn_submit:hover {
    color: #F42A67;
    background-color: #fff;
    border: 2px solid #F42A67;
}


/* +++++++++++++++++ 내용없음 +++++++++++++++++ */

.list_area .empty_contents {
    border-bottom: 2px solid #222222;
    border-top: 2px solid #222222;
}

.list_area .empty_contents p {
    text-align: center;
    padding: 80px 0;
    font-size: 16px;
    font-weight: 500;
    color: #999999;
}
